/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.root-container {
  padding: 0 15px;
  background-color: #f0f3f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 36px;
  color: #555d67;
}

.sign-in-btn {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #f0f3f2 !important;
  background-color: #3678c2;
  width: 100%;
  border: 0;
}

.sign-up-btn {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #555d67;
  background-color: transparent;
  width: 100%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.register-container {
  background-color: #f0f3f2;
  min-height: 100vh;
}

.arrow-left {
  height: 10px;
  width: auto;
}

.navigation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3678c2;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.register-title {
  color: #f0f3f2;
}

.sign-up-form-btn {
  background-color: #3678c2 !important;
  border: none;
  color: #f0f3f2;
  font-size: 1rem;
}

.reg-input {
  width: 100%;
  border: 1px solid #f0f3f2;
  padding: 1rem;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 0.2rem;
}

.reg-input:focus {
  border: 0;
  outline: none;
}

.reg-btn-container {
  padding: 0.5rem;
}

.remember-check-box {
  padding: 1rem;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 1rem;
  padding: 0.2rem 2rem;
  font-size: 14px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-icon {
  height: 40px;
  width: auto;
}

.category-link {
  text-decoration: none;
  text-decoration-color: rgb(85, 93, 103);
  color: rgb(85, 93, 103);
}

.add-category-btn-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
}

.add-category-btn {
  /* padding: 1rem; */
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #60b523 !important;
  text-align: center;
  border: 0;
  padding-top: 1rem;
  color: #f0f3f2;
  text-decoration: none;
}
