/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

.root-container {
  padding: 0 15px;
  background-color: #f0f3f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 36px;
  color: #555d67;
}

.sign-in-btn {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.7rem;
  text-decoration: none;
  color: #f0f3f2 !important;
  background-color: #3678c2;
  width: 100%;
  border: 0;
}

.sign-up-btn {
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
  text-decoration: none;
  color: #555d67;
  background-color: transparent;
  width: 100%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
